* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button:disabled {
  background-color: rgba(128, 128, 128, 0.288) !important;
  color: rgba(128, 128, 128, 0.638) !important;
}
.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}
